body {
  background: black;
  font: normal 12pt "Source Code Pro", monospace;
  font-weight: 300;
  color: #333;
}
div#context {
  display: table;
  white-space: pre;
  border-collapse: collapse;
}
div#context .row { display: table-row; }
.grid {
    display: table-cell;
    width: 18px;
    height: 20px;
    background: #111;
    text-align: center;
    overflow: hidden;
    line-height: 100%;
}
.status { color: #666; }
.status .data { color: #CCC; }

.messages { color: #999; }

.wall { background: #555; font-weight: bold; }

.floor { color: #191919; }
.stairs { color: #CC9; }
.hero { color: #36c; font-weight: bold; }
.mob { color: #990000; }
.item { color: #554433; }
.bold { font-weight: bold; }

.pitch { opacity: 0; }
.dark { opacity: 0.40; }
.dim { opacity: 0.7; }
.visible { opacity: 1; }
.blue { color: blue; }
.available { color: red; }

