body {
  background: black;
  font: normal 12pt "Source Code Pro", monospace;
  font-weight: 300;
  color: #333;
}
div#context {
  display: table;
  white-space: pre;
  border-collapse: collapse;
}
div#context .row { display: table-row; }
.grid {
    display: table-cell;
    width: 18px;
    height: 20px;
    background: #111;
    text-align: center;
}
.wall { background: #666; font-weight: bold; }
.text { color: #666; }
.data { color: #999; font-weight: bold; }
.status { color: #666; }
.monster { color: #990000; }
.floor { color: #191919; }
.stairs { color: #CC9; }
.hero { color: #FFFFCC; font-weight: bold; }

.pitch { opacity: 0; }
.dark { opacity: 0.40; }
.dim { opacity: 0.7; }
.visible { opacity: 1; }
.blue { color: blue; }
.available { color: red; }

